@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using HourlyRate.Infrastructure.Data.Models.Account

@inject SignInManager<UserIdentityExt> SignInManager
@inject UserManager<UserIdentityExt> UserManager

@model IEnumerable<CostCenterViewModel>

@if (SignInManager.IsSignedIn(User))
{
    ViewData["Title"] = $"{UserManager.GetUserAsync(User).Result.CompanyName}";
}
else
{
    ViewData["Title"] = $"Starting Page";
}



<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">LAYOUT</a></li>
    <li class="breadcrumb-item active"></li>
</ul>

@if (SignInManager.IsSignedIn(User))
{
    <h1 class="page-header">Cost Centers</h1>
}

<div class="card-header pb-2">
    @if (this.User?.Identity != null && this.User.Identity.IsAuthenticated)
    {
        <a asp-controller="CostCenters" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add Cost Center</a>
    }
</div>
<div>
    <div class="card-deck" style="display: flex; margin-left: -15px; margin-right: -15px">
        @foreach (var cc in Model)
        {
            <div class="card w-450px" style="display: flex; margin-left: 15px; margin-right: 15px">
                <div class="text-muted fs-16px mb-2"><b>@cc.Name</b></div>
                <div class="card-body">
                    <div class="dropdown">
                        <a href="#" data-bs-toggle="dropdown" class="text-muted" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                        <div class="dropdown-menu dropdown-menu-right" style="">
                            <a href="#" class="dropdown-item">View</a>
                            <a href="#" class="dropdown-item">Analytic</a>
                            <a href="#" class="dropdown-item">Report</a>
                        </div>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item d-flex align-items-center">
                            <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-black text-white rounded-2 ms-n1">
                                <i class="fa fa-book fa-lg"></i>
                            </div>
                            <div class="flex-fill ps-3 pe-3">
                                <div class="fw-600">Cost Center - General</div>
                                <div class="fs-14px text-muted">Floor space(SqM) - @cc.FloorSpace.ToString("n0")</div>
                                <div class="fs-14px text-muted">KWh - @cc.AvgPowerConsumptionKwh.ToString("n2")</div>
                                <div class="fs-14px text-muted">Annual available hours - @cc.AnnualHours.ToString("n")</div>
                                <div class="fs-14px text-muted">Annual chargeable hours - @cc.AnnualChargeableHours.ToString("n")</div>
                                <div class="fs-14px text-muted">Total power consumption (kW) - @cc.TotalPowerConsumption.ToString("n2")</div>
                                <div class="fs-14px text-muted">Direct Staff - @cc.DirectAllocatedStuff</div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item d-flex align-items-center">
                            <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-black text-white rounded-2 ms-n1">
                                <i class="fa fa-cog fa-lg"></i>
                            </div>
                            <div class="flex-fill ps-3 pe-3">
                                <div class="fw-600">Direct Costs</div>
                                <div class="fs-14px text-muted">Direct wages - @cc.DirectWagesCost.ToString("n2")</div>
                                <div class="fs-14px text-muted">Direct repairs - @cc.DirectRepairCost.ToString("n2")</div>
                                <div class="fs-14px text-muted">General consumables - @cc.DirectGeneraConsumablesCost.ToString("n2")</div>
                                <div class="fs-14px text-muted">Direct Depreciation - @cc.DirectDepreciationCost.ToString("n2")</div>
                                <div class="fs-14px text-muted">Occupation costs - @cc.RentCost</div>
                                <div class="fs-14px text-muted">Power cost - @cc.DirectElectricityCost.ToString("n2")</div>
                                <div class="fs-14px text-muted">Heating cost - @cc.IndirectHeatingCost.ToString("n2")</div>
                                <div class="fw-600">Total Direct Costs - @cc.TotalDirectCosts.ToString("n2")</div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item d-flex align-items-center">
                            <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-black text-white rounded-2 ms-n1">
                                <i class="fa fa-cogs fa-lg"></i>
                            </div>
                            <div class="flex-fill ps-3 pe-3">
                                <div class="fw-600">Indexes</div>
                                <div class="fs-14px text-muted">Ration - Total Direct / Current Total Direct - @cc.TotalIndex.ToString("n2")</div>
                                <div class="fs-14px text-muted">Water Ration - @cc.WaterTotalIndex.ToString("n2")</div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item d-flex align-items-center">
                            <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-black text-white rounded-2 ms-n1">
                                <i class="fa fa-cogs fa-lg"></i>
                            </div>
                            <div class="flex-fill ps-3 pe-3">
                                <div class="fw-600">Indirect Costs</div>
                                <div class="fs-14px text-muted">Water - @cc.IndirectWaterCost</div>
                                <div class="fs-14px text-muted">Taxes - @cc.IndirectTaxes.ToString("n2")</div>
                                <div class="fs-14px text-muted">Phones - @cc.IndirectPhonesCost.ToString("n2")</div>
                                <div class="fs-14px text-muted">Other costs - @cc.IndirectOtherCost.ToString("n2")</div>
                                <div class="fs-14px text-muted">Administration costs - @cc.IndirectAdministrationWagesCost.ToString("n2")</div>
                                <div class="fs-14px text-muted">Maintenance wages - ??</div>
                                <div class="fs-14px text-muted">Absorb depreciation costs - ??</div>
                                <div class="fw-600">Total Indirect Costs - ??</div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item d-flex align-items-center">
                            <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-black text-white rounded-2 ms-n1">
                                <i class="fa fa-cogs fa-lg"></i>
                            </div>
                            <div class="flex-fill ps-3 pe-3">
                                <div class="fw-600">Total Yearly Cost - ??</div>
                                <div class="fw-600">Average per month - ??</div>
                                <div class="fw-600">Wages Average per month - ??</div>
                                <div class="fw-600">Machines Average per month - ??</div>
                                <div class="fw-600">Overheads Average per month - ??</div>
                                <div class="fw-600">Total Monthly Cost - ??</div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item d-flex align-items-center">
                            <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-orange text-white rounded-2 ms-n1">
                                <i class="fa fa-cogs fa-lg"></i>
                            </div>
                            <div class="flex-fill ps-3 pe-3">
                                <div class="fs-14px text-muted">Wages Average per hour -??</div>
                                <div class="fs-14px text-muted">Machines Average per hour - ??</div>
                                <div class="fs-14px text-muted">Overheads Average per hour - ??</div>
                                <div class="fw-600">Total hourly cost rate - ??</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>