@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using HourlyRate.Infrastructure.Data.Models.Account
@using HourlyRate.Core.Constants

@inject SignInManager<UserIdentityExt> SignInManager
@inject UserManager<UserIdentityExt> UserManager

@model IEnumerable<CostViewModel>

@if (SignInManager.IsSignedIn(User))
{
    ViewData["Title"] = $"{UserManager.GetUserAsync(User).Result.CompanyName}";
}
else
{
    ViewData["Title"] = $"General Costs";
}



<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="">Index</a></li>
    <li class="breadcrumb-item active">STARTER PAGE</li>
</ul>

<h1 class="page-header">
    @if (SignInManager.IsSignedIn(User))
    {
        @UserManager.GetUserAsync(User).Result.CompanyName

    }

    Starting Page
</h1>

<div class="list-group"></div>

<div class="card-header pb-2">
    @if (this.User?.Identity != null && this.User.Identity.IsAuthenticated && User.IsInRole(RoleConstants.Administrator))
    {
        <a asp-controller="General" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add General Cost</a>
        <a asp-controller="General" asp-action="AddCostCategory" class="btn btn-primary btn-lg" role="button">Add CostCategory</a>
    }
</div>

<div class="card">
    <div class="card-body" style="width: auto">
        <div class="row">
            @if (SignInManager.IsSignedIn(User))
            {
                @foreach (var cost in Model)
                {
                    <div class="col-xl-2">
                        @if (User?.Identity != null && this.User.Identity.IsAuthenticated && User.IsInRole(RoleConstants.Administrator))
                        {
                            <div class="dropdown">
                                <a href="#" data-bs-toggle="dropdown" class="text-muted"><i class="fa fa-ellipsis-h"></i></a>
                                <div class="dropdown-menu dropdown-menu-right hide" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; -ms-transform: translate3d(0px, 21.3333px, 0px); -webkit-transform: translate3d(0px, 21.3333px, 0px); transform: translate3d(0px, 21.3333px, 0px);" data-popper-placement="bottom-start">
                                    <a asp-controller="General" asp-action="Edit" class="dropdown-item" asp-route-id="@cost.Id">Edit Cost</a>
                                    <a asp-controller="General" asp-action="Delete" class="dropdown-item" asp-route-id="@cost.Id">Delete Delete</a>
                                </div>
                            </div>
                        }
                        <div class="card border-0 overflow-hidden rounded-0 rounded-top rounded-bottom" style="height: 120px">
                            <div class="card-img-overlay text-white text-center bg-gray-800 bg-opacity-50">
                                <div>
                                    <div class="fs-18px fw-600">@cost.Description</div>
                                    <div class="fs-16px fw-600">CostCategory: @cost.CostCategoryName</div>
                                    <div class="fs-16px fw-600">CostCenter: @cost.CostCenterName</div>
                                    <div class="fs-18px">@cost.Amount.ToString("n2") @cost.DefaultCurrency</div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>